<template>
  <div class="home">
    <h1 class="hello">Hello !</h1>
    <div class="icons">
      <a href="https://www.youtube.com/feed/subscriptions">
        Youtube
      </a>
      <a href="https://github.com"> Github </a>
      <a href="https://twitch.com"> Twitch </a>
      <a href="https://reddit.com"> Reddit </a>
    </div>
    <div class="container border">
      <div class="d-flex justify-content-center" id="p5Canvas"></div>
      <div class="message d-flex justify-content-center">
        {{ message }}
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data() {
    return {
      message: "",
    };
  },
  name: "homePage",
  components: {},
  mounted() {},
  methods: {},
};
</script>
