body {
  font-family: "Product Sans1", sans-serif;
  background: #1c1c1c;
  color: white;
  font-size: 20px;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: #fff;
}

h1.hello {
  margin-top: 30px;
}

h1.hello,
h1.timing {
  margin-bottom: 85px;
  font-size: 3.2rem;
}

input {
  border: none;
  border-bottom: 2px solid #fff;
  min-width: 750px;
  max-width: 900px;
  width: 75%;
  padding-bottom: 10px;
  background-color: transparent;
  color: #fff;
  outline: 0;
  margin-bottom: 20px;
}

.icons img {
  position: relative;
  height: 20px;
  width: auto;
  top: -2px;
}
.icons a:not(:last-of-type) {
  margin-right: 20px;
  padding: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

a {
  padding-bottom: 2px !important;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid white;
  transition: all 0.3s ease !important;
}

canvas {
  /*display: none;*/
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
